<a href="https://colab.research.google.com/github/MitehReddy/ADM-2025-2-2-/blob/main/LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [12]:
file_path = '/content/_titanic.csv'
data = pd.read_csv(file_path)

In [13]:
print("Dataset Preview:")
print(data.head())

Dataset Preview:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
null_values = data.isnull().sum()
print("\nNull Values in Each Column:")
print(null_values)

Null Values in Each Column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
mean_values = data.mean(numeric_only=True)
median_values = data.median(numeric_only=True)
mode_values = data.mode(numeric_only=True).iloc[0]

In [16]:
print("\nMean Values:")
print(mean_values)

Mean Values:
PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [17]:
print("\nMedian Values:")
print(median_values)

Median Values:
PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

In [18]:
print("\nMode Values:")
print(mode_values)

Mode Values:
PassengerId     1.00
Survived        0.00
Pclass          3.00
Age            24.00
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 0, dtype: float64

In [19]:
numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns
scaler = MinMaxScaler()
normalized_data = pd.DataFrame(scaler.fit_transform(data[numeric_columns]), columns=numeric_columns)

In [20]:
print("\nNormalized Data (Preview):")
print(normalized_data.head())

Normalized Data (Preview):
   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713

In [21]:
normalized_data.to_csv('/content/normalized_data.csv', index=False)
print("\nNormalized data has been saved to 'normalized_data.csv'.")

Normalized data has been saved to 'normalized_data.csv'.